type bootanimation_exec , exec_type, file_type;
type bootanimation ,domain;

permissive bootanimation;
init_daemon_domain(bootanimation)

allow bootanimation property_socket:sock_file write;
allow bootanimation surfaceflinger:binder { transfer call };
allow bootanimation surfaceflinger:fd use;

allow bootanimation mediaserver:binder call;

allow bootanimation servicemanager:binder call;

allow bootanimation mediaserver:binder transfer;

allow bootanimation mediaserver:binder { transfer call };
allow bootanimation servicemanager:binder call;

allow bootanimation self:netlink_socket { write create };

allow bootanimation self:netlink_socket { read bind create write };

